{
  "presets": [["@babel/preset-env", {
    "targets": {
      "esmodules": true
    }
  }], "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./",
          "@Components": "./src/components",
          "@Utils": "./src/utils",
          "@Constants": "./src/constants",
          "@Pages": "./src/pages",
          "@Styles": "./src/styles",
          "@Assets": "./src/assets",
          "@ServiceWorker": "./src/serviceWorker",
          "@Services": "./src/services",
          "@Mocks": "./__mocks__",
          "@Redux": "./src/redux"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}
